<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <script type="module" defer>
      import Turbo from 'https://cdn.skypack.dev/@hotwired/turbo';
    </script>
    <style>
      p, figure {margin: 1em 0; padding: 10px 0px 20px 0px}
      hr { display: block; margin-top: 40px}
      pre code {
        background-color: #eee;
        border: 1px solid #999;
        display: block;
        padding: 20px;
      }
    </style>
  </head>
  <body>
    <h4>See code in <code>index.html</code></h4>
    {{ content }}
  </body>
</html>